<div th:remove="tag" xmlns:th="http://www.thymeleaf.org">
<script src="/page/item/item.js"></script>
	<section>
		<div id="mess" class="row"></div>
			<form id="mainform" class="form-horizontal" method="" autocomplete="off" th:action="@{'/product'}">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label col-sm-3" for="name" >Item name:</label>
						<div class="col-sm-5">
							<input type="hidden" name="id" id="itemId" th:value="${item.id}" />
							<input th:field="*{item.name}" name="name" type="text" class="form-control" data-rule-required="true" id="name" placeholder="Item name"/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="description" >Item description:</label>
						<div class="col-sm-5">
							<input th:field="*{item.description}" name="description" type="text" class="form-control" data-rule-required="true" id="description" placeholder="Item description"/>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<button type="button" id="saveBtn" th:attr="data-action-url=@{/item}" class="btn btn-success pull-right">Save</button>
				</div>
				<div id="view"></div>
			</form>
			<!-- Modal window -->
	</section>
</div>	
