<div id="tablesec" xmlns:th="http://www.thymeleaf.org">
	<div th:unless="${#lists.isEmpty(list.errors)}" class="col-md-12 alert alert-success" style="border:1px solid">
		<table width="100%" class="grid">
			<thead style="font-size: 12px;">
				<tr>
					<th>Code context</th>
					<th>Custom error</th>
					<th>Location</th>
				</tr>
			</thead>
			<tbody>
				<tr th:unless="${#lists.isEmpty(list.errors)}" th:each="error : ${list.errors}">
					<td th:text="${error.codeContext}"></td>
					<td th:text="${error.customErrorCode}"></td>
					<td th:text="${error.location}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:unless="${#lists.isEmpty(list.references)}" class="col-md-12 alert alert-success" style="border:1px solid">
		<table width="100%" class="grid">
			<thead style="font-size: 12px;">
				<tr>
					<th>Id</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:unless="${#lists.isEmpty(list.references)}" th:each="ref : ${list.references}">
					<td th:text="${ref.id}"></td>
					<td th:text="${ref.home}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:unless="${#lists.isEmpty(list.documentEntries)}" th:each="li : ${list.documentEntries}" class="col-md-12 alert alert-success" style="border:1px solid">
		<div class="col-md-6">
			<div class="form-group" style="padding-botton: 1px">
				<label for="txta" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Patient no:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.sourcePatientId.id}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Gender:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.sourcePatientInfo ne null ? li.sourcePatientInfo.gender : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Patient name:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.sourcePatientInfo ne null ? li.sourcePatientInfo.name : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Date of birth:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.sourcePatientInfo ne null and li.sourcePatientInfo.dateOfBirth ne null ? li.sourcePatientInfo.dateOfBirth.dateTime : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">City:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.sourcePatientInfo ne null and li.sourcePatientInfo.address ne null ? li.sourcePatientInfo.address.city : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Country:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.sourcePatientInfo ne null and li.sourcePatientInfo.address ne null ? li.sourcePatientInfo.address.country : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Status:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.availabilityStatus.name()}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Title:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.title.value}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Creation time:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.creationTime ne null ? li.creationTime.dateTime : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Service start time:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.serviceStartTime ne null ? li.serviceStartTime.dateTime : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Service stop time:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.serviceStopTime ne null ? li.serviceStopTime.dateTime : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Home community id:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.homeCommunityId}"></label>
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Repository unique id:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.repositoryUniqueId}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Document unique id:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.uniqueId}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Mime type:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.mimeType}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">URI:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.uri}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Size:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.size}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Comment:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.comments ne null ? li.comments.value : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Practice setting:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.practiceSettingCode ne null ? li.practiceSettingCode.schemeName + (li.practiceSettingCode.displayName ne null ? '('  + li.practiceSettingCode.displayName.value + ')' : '') : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Healthcare facility:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.healthcareFacilityTypeCode ne null ? li.healthcareFacilityTypeCode.schemeName + (li.healthcareFacilityTypeCode.displayName ne null ? '('  + li.healthcareFacilityTypeCode.displayName.value + ')' : '') : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Format code:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.formatCode ne null ? li.formatCode.schemeName + (li.formatCode.displayName ne null ? '('  + li.formatCode.displayName.value + ')' : '') : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Class code:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.classCode ne null ? li.classCode.schemeName + (li.classCode.displayName ne null ? '('  + li.classCode.displayName.value + ')' : '') : ''}"></label>
				</div>
			</div>
			
		</div>
		
		<div th:unless="${#lists.isEmpty(li.authors)}"  th:each="au : ${li.authors}">
			<table width="100%" class="grid">
				<thead style="font-size: 12px;">
					<tr>
						<th>Id</th>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
					<tr th:unless="${#lists.isEmpty(au.authorPerson)}"  th:each="auPerson : ${au.authorPerson}">
						<td th:text="${auPerson.id}"></td>
						<td th:text="${auPerson.name}"></td>
					</tr>
				</tbody>
			</table>
			<table width="100%" class="grid">
				<thead style="font-size: 12px;">
					<tr>
						<th>Id number</th>
						<th>OrganizationName</th>
					</tr>
				</thead>
				<tbody>
					<tr th:unless="${#lists.isEmpty(au.authorInstitution)}"  th:each="institution : ${au.authorInstitution}">
						<td th:text="${institution.idNumber}"></td>
						<td th:text="${institution.organizationName}"></td>
					</tr>
				</tbody>
			</table>
			
		</div>
		<div th:unless="${#lists.isEmpty(li.confidentialityCodes)}">
			<p>Confidentiality code :</p>
			<table width="100%" class="grid">
				<thead style="font-size: 12px;">
					<tr>
						<th>Scheme name</th>
						<th>Display name</th>
					</tr>
				</thead>
				<tbody>
					<tr th:unless="${#lists.isEmpty(li.confidentialityCodes)}"  th:each="confidential : ${li.confidentialityCodes}">
						<td th:text="${confidential.schemeName}"></td>
						<td><span th:text="${confidential.displayName ne null ? confidential.displayName.value : ''}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:unless="${#lists.isEmpty(li.eventCodeList)}">
			<table width="100%" class="grid">
				<thead style="font-size: 12px;">
					<tr>
						<th>Code</th>
						<th>Scheme name</th>
						<th>Display name</th>
					</tr>
				</thead>
				<tbody>
					<tr th:unless="${#lists.isEmpty(li.eventCodeList)}"  th:each="eventList : ${li.eventCodeList}">
						<td th:text="${eventList.code}"></td>
						<td th:text="${eventList.schemeName}"></td>
						<td><span th:text="${eventList.displayName ne null ? eventList.displayName.lang : ''}"></span><span th:text="${eventList.displayName ne null ? confidential.displayName.value : ''}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:unless="${#lists.isEmpty(li.referenceIdList)}">
			<table width="100%" class="grid">
				<thead style="font-size: 12px;">
					<tr>
						<th>id</th>
						<th>Type code</th>
					</tr>
				</thead>
				<tbody>
					<tr th:unless="${#lists.isEmpty(li.referenceIdList)}"  th:each="reference : ${li.referenceIdList}">
						<td th:text="${reference.id}"></td>
						<td th:text="${reference.idTypeCode}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		
	</div>
	<!-- <table id="metaDataList" width="100%" class="grid">
		<thead style="font-size: 12px;">
			<tr>
				<th>Name</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
		<tr th:unless="${#lists.isEmpty(list.metaData)}"  th:each="li : ${list.metaData}">
			<td th:text="${li.name}"></td>
			<td th:text="${li.value}"></td>
		</tr>
		</tbody>
	</table> -->
</div>