<div id="tablesec" xmlns:th="http://www.thymeleaf.org">
	<div th:if="${list.status ne null and list.status.name() ne 'FAILURE' and #lists.isEmpty(list.documentEntries) and #lists.isEmpty(list.errors) and #lists.isEmpty(list.references) and #lists.isEmpty(list.submissionSets) and #lists.isEmpty(list.folders) and #lists.isEmpty(list.associations)}" class="col-md-12 alert alert-success" style="border:1px solid">
		<p th:text="${'Status : '+ list.status.name()}"></p>
		<p>No related documents were found</p>
	</div>
	<div th:unless="${#lists.isEmpty(list.errors)}" class="col-md-12 alert alert-success" style="border:1px solid">
		<table width="100%" class="grid">
			<thead style="font-size: 12px;">
				<tr>
					<th colspan="3" style="text-align: center;padding: 0px;">Errors</th>
				</tr>
				<tr>
					<th>Code context</th>
					<th>Custom error</th>
					<th>Location</th>
				</tr>
			</thead>
			<tbody>
				<tr th:unless="${#lists.isEmpty(list.errors)}" th:each="error : ${list.errors}">
					<td th:text="${error.codeContext}"></td>
					<td th:text="${error.customErrorCode}"></td>
					<td th:text="${error.location}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:unless="${#lists.isEmpty(list.references)}" class="col-md-12 alert alert-success" style="border:1px solid">
		<table width="100%" class="grid">
			<thead style="font-size: 12px;">
				<tr>
					<th colspan="2" style="text-align: center;padding: 0px;">References</th>
				</tr>
				<tr>
					<th>Id</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:unless="${#lists.isEmpty(list.references)}" th:each="ref : ${list.references}">
					<td th:text="${ref.id}"></td>
					<td th:text="${ref.home}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:unless="${#lists.isEmpty(list.documentEntries)}" th:each="li : ${list.documentEntries}" class="col-md-12 alert alert-success" style="border:1px solid">
		<div class="col-md-6" th:with="df='dd-MMM-yyyy h:mm:ss'">
			<div class="form-group" style="padding-botton: 1px">
				<label for="txta" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Patient no:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.patientId ne null ? #strings.defaultString(li.patientId.id,'') : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Gender:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.sourcePatientInfo ne null ? #strings.defaultString(li.sourcePatientInfo.gender,'') : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Patient name:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.sourcePatientInfo ne null and li.sourcePatientInfo.name ne null ? #strings.defaultString(li.sourcePatientInfo.name.familyName,'') + ' ' + #strings.defaultString(li.sourcePatientInfo.name.givenName,''): ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Date of birth:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.sourcePatientInfo ne null and li.sourcePatientInfo.dateOfBirth ne null ? #dates.format(li.sourcePatientInfo.dateOfBirth.dateTime, df) : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">City:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.sourcePatientInfo ne null and li.sourcePatientInfo.address ne null ? #strings.defaultString(li.sourcePatientInfo.address.city,'') : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Country:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.sourcePatientInfo ne null and li.sourcePatientInfo.address ne null ? #strings.defaultString(li.sourcePatientInfo.address.country,'') : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Status:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${#strings.defaultString(li.availabilityStatus.name(),'')}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Title:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${#strings.defaultString(li.title.value,'')}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Creation time:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.creationTime ne null ? #dates.format(li.creationTime.dateTime, df) : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Service start time:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.serviceStartTime ne null ? #dates.format(li.serviceStartTime.dateTime, df) : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Service stop time:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.serviceStopTime ne null ? #dates.format(li.serviceStopTime.dateTime, df) : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Home community id:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${#strings.defaultString(li.homeCommunityId,'')}"></label>
				</div>
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Repository unique id:</label>
				<div class="col-md-8">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${#strings.defaultString(li.repositoryUniqueId,'')}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Document unique id:</label>
				<div class="col-md-8">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${#strings.defaultString(li.uniqueId,'')}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Entry Uuid:</label>
				<div class="col-md-8">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${#strings.defaultString(li.entryUuid,'')}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Mime type:</label>
				<div class="col-md-8">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${#strings.defaultString(li.mimeType,'application/pdf')}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">URI:</label>
				<div class="col-md-8">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${#strings.defaultString(li.uri,'')}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Size:</label>
				<div class="col-md-8">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${#strings.defaultString(li.size,'')}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Comment:</label>
				<div class="col-md-8">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.comments ne null ? #strings.defaultString(li.comments.value,'') : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Practice setting:</label>
				<div class="col-md-8">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.practiceSettingCode ne null ? #strings.defaultString(li.practiceSettingCode.schemeName,'') + (li.practiceSettingCode.displayName ne null ? '('  + #strings.defaultString(li.practiceSettingCode.displayName.value,'') + ')' : '') : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Healthcare facility:</label>
				<div class="col-md-8">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.healthcareFacilityTypeCode ne null ? #strings.defaultString(li.healthcareFacilityTypeCode.schemeName,'') + (li.healthcareFacilityTypeCode.displayName ne null ? '('  + #strings.defaultString(li.healthcareFacilityTypeCode.displayName.value,'') + ')' : '') : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Format code:</label>
				<div class="col-md-8">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.formatCode ne null ? #strings.defaultString(li.formatCode.schemeName,'') + (li.formatCode.displayName ne null ? '('  + #strings.defaultString(li.formatCode.displayName.value,'') + ')' : '') : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Class code:</label>
				<div class="col-md-8">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${li.classCode ne null ? #strings.defaultString(li.classCode.schemeName,'') + (li.classCode.displayName ne null ? '('  + #strings.defaultString(li.classCode.displayName.value,'') + ')' : '') : ''}"></label>
				</div>
			</div>
			
		</div>
		
			<table th:unless="${#lists.isEmpty(li.authors)}" width="100%" class="grid">
				<thead style="font-size: 12px;">
					<tr>
						<th colspan="3" style="text-align: center;padding: 0px;">Author person</th>
					</tr>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>OrganizationName</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="at : ${li.authors}">
						<td th:text="${at.authorPerson ne null and at.authorPerson.id ne null ? #strings.defaultString(at.authorPerson.id.id, '') : ''}"></td>
						<td th:text="${at.authorPerson ne null and at.authorPerson.name ne null ? #strings.defaultString(at.authorPerson.name.familyName, '') + ' ' + #strings.defaultString(at.authorPerson.name.givenName, '') : ''}"></td>
						<td>
							<span th:unless="${#lists.isEmpty(at.authorInstitution)}" th:each="institution : ${at.authorInstitution}" th:text="${#strings.defaultString(institution.organizationName + ' ,', '')}"></span>
						</td>
						<!-- <td th:text="${at.authorPerson ne null and at.authorPerson.id ne null ? #strings.defaultString(at.authorPerson.id.id, '') : ''}"></td>
						<td th:text="${at.authorPerson ne null and at.name ne null ? #strings.defaultString(at.authorPerson.name.prefix, '') + ' ' + #strings.defaultString(at.authorPerson.name.familyName, '') +' '+ #strings.defaultString(at.authorPerson.name.givenName, '') : ''}"></td>
						<td>
							<span th:unless="${#lists.isEmpty(auPerson.authorInstitution)}" th:each="institution : ${auPerson.authorInstitution}" th:text="${#strings.defaultString(institution.organizationName + ' ,', '')}"></span>
						</td> -->
					</tr>
				</tbody>
			</table>
			<!-- <table th:unless="${#lists.isEmpty(au.authorInstitution)}" width="100%" class="grid">
				<thead style="font-size: 12px;">
					<tr>
						<th colspan="2" style="text-align: center;padding: 0px;">AuthorInstitution</th>
					</tr>
					<tr>
						<th>Id number</th>
						<th>OrganizationName</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="institution : ${au.authorInstitution}">
						<td th:text="${#strings.defaultString(institution.idNumber, '')}"></td>
						<td th:text="${#strings.defaultString(institution.organizationName, '')}"></td>
					</tr>
				</tbody>
			</table> -->
			
		<div th:unless="${#lists.isEmpty(li.confidentialityCodes)}">
			<table width="100%" class="grid">
				<thead style="font-size: 12px;">
					<tr>
						<th colspan="2" style="text-align: center;padding: 0px;">Confidentiality</th>
					</tr>
					<tr>
						<th>Scheme name</th>
						<th>Display name</th>
					</tr>
				</thead>
				<tbody>
					<tr th:unless="${#lists.isEmpty(li.confidentialityCodes)}"  th:each="confidential : ${li.confidentialityCodes}">
						<td th:text="${#strings.defaultString(confidential.schemeName, '')}"></td>
						<td><span th:text="${confidential.displayName ne null ? #strings.defaultString(confidential.displayName.value, '') : ''}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:unless="${#lists.isEmpty(li.eventCodeList)}">
			<table width="100%" class="grid">
				<thead style="font-size: 12px;">
					<tr>
						<th colspan="3" style="text-align: center;padding: 0px;">Event codes</th>
					</tr>
					<tr>
						<th>Code</th>
						<th>Scheme name</th>
						<th>Display name</th>
					</tr>
				</thead>
				<tbody>
					<tr th:unless="${#lists.isEmpty(li.eventCodeList)}"  th:each="eventList : ${li.eventCodeList}">
						<td th:text="${#strings.defaultString(eventList.code, '')}"></td>
						<td th:text="${#strings.defaultString(eventList.schemeName, '')}"></td>
						<td><span th:text="${eventList.displayName ne null ? #strings.defaultString(eventList.displayName.value, '') : ''}"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:unless="${#lists.isEmpty(li.referenceIdList)}">
			<table width="100%" class="grid">
				<thead style="font-size: 12px;">
					<tr>
						<th colspan="2" style="text-align: center;padding: 0px;">Reference list</th>
					</tr>
					<tr>
						<th>id</th>
						<th>Type code</th>
					</tr>
				</thead>
				<tbody>
					<tr th:unless="${#lists.isEmpty(li.referenceIdList)}"  th:each="reference : ${li.referenceIdList}">
						<td th:text="${#strings.defaultString(reference.id, '')}"></td>
						<td th:text="${#strings.defaultString(reference.idTypeCode, '')}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div th:unless="${#lists.isEmpty(list.submissionSets)}" th:each="sub : ${list.submissionSets}" class="col-md-12 alert alert-info" style="border:1px solid">
		<div class="col-md-6" th:with="df='dd-MMM-yyyy'">
			<div class="form-group" style="padding-botton: 1px">
				<label for="txta" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Status:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${#strings.defaultString(sub.availabilityStatus.name(),'')}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label for="txta" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Title:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${#strings.defaultString(sub.title,'')}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label for="txta" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Patient no:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${sub.patientId ne null ? #strings.defaultString(sub.patientId.id,'') : ''}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label for="txta" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">SubmissionTime:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${sub.submissionTime ne null ? #dates.format(sub.submissionTime.dateTime, df) : ''}"></label>
				</div>
			</div>
			
		</div>
		<div class="col-md-6">
			<div class="form-group" style="padding-botton: 1px">
				<label for="txta" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Entry uuid:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${sub.entryUuid}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label for="txta" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Source id:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${sub.sourceId}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label for="txta" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">HomeCommunity id:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${sub.homeCommunityId}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label for="txta" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Unique id:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${sub.uniqueId}"></label>
				</div>
			</div>
		</div>
	</div>
	
	<div th:unless="${#lists.isEmpty(list.folders)}" th:each="folder : ${list.folders}" class="col-md-12 alert alert-info" style="border:1px solid">
		<div class="col-md-6" th:with="df='dd-MMM-yyyy'">
			<div class="form-group" style="padding-botton: 1px">
				<label for="txta" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Status:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${#strings.defaultString(folder.availabilityStatus.name(),'')}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label for="txta" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Title:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${#strings.defaultString(folder.title,'')}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label for="txta" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Patient no:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${folder.patientId ne null ? #strings.defaultString(folder.patientId.id,'') : ''}"></label>
				</div>
			</div>
			
		</div>
		<div class="col-md-6">
			<div class="form-group" style="padding-botton: 1px">
				<label for="txta" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Entry uuid:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${folder.entryUuid}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label for="txta" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">HomeCommunity id:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${folder.homeCommunityId}"></label>
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label for="txta" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px">Unique id:</label>
				<div class="col-md-6">
					<label style="padding-right: 0px; padding-top: 2px" th:text="${folder.uniqueId}"></label>
				</div>
			</div>
		</div>
	</div>
	
	<div th:unless="${#lists.isEmpty(list.associations)}">
		<table width="100%" class="grid">
			<thead style="font-size: 12px;">
				<tr>
					<th colspan="6" style="text-align: center;padding: 0px;">Associations</th>
				</tr>
				<tr>
					<th>Satus</th>
					<th>Label</th>
					<th>Entry Uuid</th>
					<th>Source Uuid</th>
					<th>Target Uuid</th>
				</tr>
			</thead>
			<tbody>
				<tr th:unless="${#lists.isEmpty(list.associations)}"  th:each="ass : ${list.associations}">
					<td th:text="${#strings.defaultString(ass.availabilityStatus.name(),'')}"></td>
					<td th:text="${#strings.defaultString(ass.Label,'')}"></td>
					<td th:text="${#strings.defaultString(ass.entryUuid, '')}"></td>
					<td th:text="${#strings.defaultString(ass.sourceUuid, '')}"></td>
					<td th:text="${#strings.defaultString(ass.targetUuid, '')}"></td>
				</tr>
			</tbody>
		</table>
	</div>
		
	
	
	<!-- <table id="metaDataList" width="100%" class="grid">
		<thead style="font-size: 12px;">
			<tr>
				<th>Name</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
		<tr th:unless="${#lists.isEmpty(list.metaData)}"  th:each="li : ${list.metaData}">
			<td th:text="${li.name}"></td>
			<td th:text="${li.value}"></td>
		</tr>
		</tbody>
	</table> -->
</div>