<div th:remove="tag" xmlns:th="http://www.thymeleaf.org">
<script src="/page/stock/stock.js"></script>
	<section>
		<div id="mess" class="row"></div>
		<div class="row">
			<div class="col-md-12">
				<table th:fragment="stockList" id="datalist" class="table table-striped" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th class="no-sort" >Product name</th>
								<th class="no-sort" style="text-align: right">Quantity</th>
								<th class="no-sort" style="text-align: right">Cost price</th>
								<th class="no-sort" style="text-align: right">Sales price</th>
								<th class="no-sort">
									<div class="pull-right">
										<button class="btn btn-info" type="button" id="addBtn" style="padding: 3px 4px;" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span>Add</button>
									</div>
								</th>
							</tr>
						</thead>
						<tbody id="datalistBody">
							<tr th:fragment="datas" th:each="st : ${stocks}">
								<td th:text="${st.name}"></td>
								<td style="text-align: right" th:text="${st.quantity}"></td>
								<td style="text-align: right" th:text="${#numbers.formatDecimal(st.costPrice, 0, 'COMMA', 2, 'POINT')}"></td>
								<td style="text-align: right" th:text="${#numbers.formatDecimal(st.salesPrice, 0, 'COMMA', 2, 'POINT')}"></td>
								<td style="text-align: right">
									<button th:attr="data-url='/stock/' + ${st.id}" class="btn btn-info btn-sm editBtn" style="padding: 2px 6px;"><span class="glyphicon glyphicon-edit"></span></button>
									<button th:attr="data-url='/stock/' + ${st.id}" class="btn btn-danger btn-sm deleteBtn" style="padding: 2px 5px;"><span class="glyphicon glyphicon-trash"></span></button>
								</td>
							</tr>
						</tbody>
				</table>
			</div>
		</div>
			<!-- Modal window -->
		<div data-backdrop="static" data-keyboard="false" id="myModal" class="modal fade">
			<div class="modal-dialog" style="width: 68% !important">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add new</h4>
					</div>
					<div class="modal-body">
						<div class="row" th:fragment="stockModal" style="padding-top:9px">
							<form id="mainform" class="form-horizontal" method="" autocomplete="off" th:action="@{'/stock'}">
								<div class="col-md-8">
									<div class="form-group">
										<label class="control-label col-sm-3" for="name" >Product name</label>
										<div class=" col-sm-4 form-group input-group" style="padding-left: 15px;">
											<input type="text" class="form-control multicolumn-search" id="products" data-search-url="/search/prods/"
														th:attr="data-search-url=@{'/search/prods/'}" placeholder="Search"/>
											<span class="input-group-addon"><i class="fa fa-search"></i></span>
										</div>
										<input class="multicolumn-val" type="hidden" name="itemId" value="" />
										<input class="multicolumn-desc" type="hidden" value="" />
										<input class="product-price" type="hidden" value="" />
										<input name="id" th:field="*{stock.id}" type="hidden" />
										
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3" for="qtd" >Quantity:</label>
										<div class="col-md-5">
											<input th:field="*{stock.quantity}" name="quantity" type="text" class="form-control" data-rule-number="true" data-rule-required="true" id="qtd" placeholder="Quantity"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3" for="costPrice" >Cost price:</label>
										<div class="col-md-5">
											<input th:field="*{stock.costPrice}" name="costPrice" type="text" class="form-control" data-rule-number="true" data-rule-required="true" id="costPrice" placeholder="Cost price"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-sm-3" for="salesPrice" >Sales price:</label>
										<div class="col-md-5">
											<input th:field="*{stock.salesPrice}" name="salesPrice" type="text" data-rule-required="true" class="form-control" data-rule-number="true" id="salesPrice" placeholder="Sales price"/>
										</div>
									</div>
									
								</div>
							</form>
						</div>
					</div>
					<div class="modal-footer" style="padding: 5px;">
						<button type="button" th:attr="data-action-url=@{/stock}" class="btn btn-success modal-submit" style="padding: 3px 4px;">Save</button>
						<button type="button" class="btn btn-default" style="padding: 3px 4px;" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>