<section style="padding-top: 12px;padding-left: 12px;padding-right: 12px;" xmlns:th="http://www.thymeleaf.org">
	<div id="formsection" class="col-md-12" style="padding-top: 8px;border: 1.5px solid #e17d7d; -ms-border-radius: 5px; border-radius: 5px;">
		<div id="formdiv" th:fragment="fdiv">
		<div class="col-md-6">
			<div class="form-group" style="padding-botton: 1px">
				<label for="patientNo" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.patientcode}">Patient No :</label>
				<div class="col-md-6" style="padding-left: 3px">
					<input type="hidden" th:field="*{bean.patientDocId}"/>
					<input type="text" th:field="*{bean.patientNo}" class="form-control" data-rule-required="true" th:placeholder="#{setup.documententry.label.patientcode}" />
				</div>
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label for="classCode" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.classcode}">Class code :</label>
				<div class="col-md-4" style="padding-left: 3px">
					<select class="form-control" th:field="*{bean.classCode}">
						<option value="">please select ....</option>
						 <option th:if="${not #lists.isEmpty(codes)}" th:each="it : ${codes}" th:value="${it.code}" th:text="${it.displayName}">Select...</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="creationTime" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.creationtime}">Creation time :</label>
				<div style="padding-left: 3px" class="col-md-4 input-group date" data-provide="datepicker" data-date-today-highlight="true" data-date-format="dd-MM-yyyy">
					<input type="text" th:field="*{bean.creationTime}" class="form-control" />
					<div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
				</div>
			</div>
			<div class="form-group">
				<label for="entryUuid" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.entryuuid}">Document unique id :</label>
				<div class="col-md-6" style="padding-left: 3px">
					<input type="text" th:field="*{bean.entryUuid}" class="form-control" th:placeholder="#{setup.documententry.label.entryuuid}" />
				</div>
			</div>
			<div class="form-group">
				<label for="formatCode" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.formatcode}">Format code</label>
				<div class="col-md-4" style="padding-left: 3px">
					<select class="form-control" th:field="*{bean.formatCode}">
						<option value="">please select ....</option>
						 <option th:if="${not #lists.isEmpty(codes)}" th:each="it : ${codes}" th:value="${it.code}" th:text="${it.displayName}">Select...</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="healthcareFacilityTypeCode" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.healthcarefacilitytypecode}">healthcareFacilityTypeCode</label>
				<div class="col-md-4" style="padding-left: 3px">
					<select class="form-control" th:field="*{bean.healthcareFacilityTypeCode}">
						<option value="">please select ....</option>
						 <option th:if="${not #lists.isEmpty(codes)}" th:each="it : ${codes}" th:value="${it.code}" th:text="${it.displayName}">Select...</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="practiceSettingCode" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.practicesettingcode}">practiceSettingCode</label>
				<div class="col-md-4" style="padding-left: 3px">
					<select class="form-control" th:field="*{bean.practiceSettingCode}">
						<option value="">please select ....</option>
						 <option th:if="${not #lists.isEmpty(codes)}" th:each="it : ${codes}" th:value="${it.code}" th:text="${it.displayName}">Select...</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="docTitle" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.title}">title :</label>
				<div class="col-md-6" style="padding-left: 3px">
					<input type="text" th:field="*{bean.docTitle}" class="form-control" th:placeholder="#{setup.documententry.label.title}" />
				</div>
			</div>
			<div class="form-group">
				<label for="typeCode" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.typecode}">typeCode</label>
				<div class="col-md-4" style="padding-left: 3px">
					<select class="form-control" th:field="*{bean.typeCode}">
						<option value="">please select ....</option>
						 <option th:if="${not #lists.isEmpty(codes)}" th:each="it : ${codes}" th:value="${it.code}" th:text="${it.displayName}">Select...</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="mimeType" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.mimetype}">mimeType</label>
				<div class="col-md-4" style="padding-left: 3px">
					<select class="form-control" th:field="*{bean.mimeType}">
						<option value="application/pdf">pdf</option>
					</select>
					
				</div>
			</div>
			<div class="form-group">
				<label for="uri" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.uri}">uri :</label>
				<div class="col-md-6" style="padding-left: 3px">
					<input type="text" th:field="*{bean.uri}" class="form-control" th:placeholder="#{setup.documententry.label.uri}" />
				</div>
			</div>
			<div class="form-group">
				<label for="logicalUuid" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.logicaluuid}">logicalUuid :</label>
				<div class="col-md-6" style="padding-left: 3px">
					<input type="text" th:field="*{bean.logicalUuid}" class="form-control" th:placeholder="#{setup.documententry.label.logicaluuid}" />
				</div>
			</div>
			<div class="form-group">
				<label for="serviceStartTime" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.servicestarttime}">serviceStartTime :</label>
				<div style="padding-left: 3px" class="col-md-4 input-group date" data-provide="datepicker" data-date-today-highlight="true" data-date-format="dd-MM-yyyy">
					<input type="text" th:field="*{bean.serviceStartTime}" class="form-control" />
					<div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
				</div>
			</div>
			<div class="form-group">
				<label for="serviceStopTime" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.servicestoptime}">serviceStopTime :</label>
				<div style="padding-left: 3px" class="col-md-4 input-group date" data-provide="datepicker" data-date-today-highlight="true" data-date-format="dd-MM-yyyy">
					<input type="text" th:field="*{bean.serviceStopTime}" class="form-control" />
					<div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
				</div>
			</div>
		</div>
	
		</div>
	</div>
</section>