<section style="padding-top: 12px;padding-left: 12px;padding-right: 12px;" xmlns:th="http://www.thymeleaf.org">
	<div id="formsection" class="col-md-12" style="padding-top: 8px;border: 1.5px solid #e17d7d; -ms-border-radius: 5px; border-radius: 5px;">
		<div id="formdiv" th:fragment="fdiv">
		<div class="col-md-6">
			<div class="form-group typeahead" style="padding-botton: 1px">
				<label for="patientNo" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.patientcode}">Patient No :</label>
				<input type="hidden" th:field="*{bean.patientDocId}" />
				<input type="hidden" th:field="*{bean.entryUuid}"/>
				<div class=" col-md-5 input-group" style="padding-left: 2px;">
					<input type="text" class="form-control multicolumn-search" id="patientNo" data-search-url="/search/patient/" th:attr="data-search-url=@{'/search/patient/'}" placeholder="Search"/>
					<span class="input-group-addon"><i class="fa fa-search"></i></span>
				</div>
				<input class="multicolumn-val" type="hidden" th:field="*{bean.patientNo}" />
				<input class="multicolumn-desc" type="hidden" value="" />
				<input class="product-price" type="hidden" value="" />
			</div>
			<div class="form-group" style="padding-botton: 1px">
				<label for="classCode" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.classcode}">Class code :</label>
				<div class="col-md-4" style="padding-left: 3px">
					<select class="form-control" th:field="*{bean.classCode}">
						<option value="">please select ....</option>
						 <option th:if="${not #lists.isEmpty(codes)}" th:each="it : ${codes}" th:value="${it.code}" th:text="${it.displayName}">Select...</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="creationTime" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.creationtime}">Creation time :</label>
				<div style="padding-left: 3px" class="col-md-4 input-group date" data-provide="datepicker" data-date-today-highlight="true" data-date-format="dd-MM-yyyy">
					<input type="text" th:field="*{bean.creationTime}" class="form-control" />
					<div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
				</div>
			</div>
			<div class="form-group">
				<label for="formatCode" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.formatcode}">Format code</label>
				<div class="col-md-4" style="padding-left: 3px">
					<select class="form-control" th:field="*{bean.formatCode}">
						<option value="">please select ....</option>
						 <option th:if="${not #lists.isEmpty(codes)}" th:each="it : ${codes}" th:value="${it.code}" th:text="${it.displayName}">Select...</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="healthcareFacilityTypeCode" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.healthcarefacilitytypecode}">healthcareFacilityTypeCode</label>
				<div class="col-md-4" style="padding-left: 3px">
					<select class="form-control" th:field="*{bean.healthcareFacilityTypeCode}">
						<option value="">please select ....</option>
						 <option th:if="${not #lists.isEmpty(codes)}" th:each="it : ${codes}" th:value="${it.code}" th:text="${it.displayName}">Select...</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="practiceSettingCode" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.practicesettingcode}">practiceSettingCode</label>
				<div class="col-md-4" style="padding-left: 3px">
					<select class="form-control" th:field="*{bean.practiceSettingCode}">
						<option value="">please select ....</option>
						 <option th:if="${not #lists.isEmpty(codes)}" th:each="it : ${codes}" th:value="${it.code}" th:text="${it.displayName}">Select...</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="docTitle" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.title}">title :</label>
				<div class="col-md-6" style="padding-left: 3px">
					<input type="text" th:field="*{bean.docTitle}" class="form-control" th:placeholder="#{setup.documententry.label.title}" />
				</div>
			</div>
			<div class="form-group">
				<label for="typeCode" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.typecode}">typeCode</label>
				<div class="col-md-4" style="padding-left: 3px">
					<select class="form-control" th:field="*{bean.typeCode}">
						<option value="">please select ....</option>
						 <option th:if="${not #lists.isEmpty(codes)}" th:each="it : ${codes}" th:value="${it.code}" th:text="${it.displayName}">Select...</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="mimeType" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.mimetype}">mimeType</label>
				<div class="col-md-4" style="padding-left: 3px" th:with=MIMETYPES=${T(com.example.demo.model.PatientDocument.MimiTypes)}>
					<select class="form-control" th:field="*{bean.mimeType}">
						<option  th:each="item : ${MIMETYPES.values()}" th:value="${item.name()}" mimeType th:text="${item.name()}"></option>
						<option th:remove="all" th:value="${false}"></option>
					</select>
					
				</div>
			</div>
			<div class="form-group">
				<label for="uri" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.uri}">uri :</label>
				<div class="col-md-6" style="padding-left: 3px">
					<input type="text" th:field="*{bean.uri}" class="form-control" th:placeholder="#{setup.documententry.label.uri}" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="serviceStartTime" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.servicestarttime}">serviceStartTime :</label>
				<div style="padding-left: 3px" class="col-md-4 input-group date" data-provide="datepicker" data-date-today-highlight="true" data-date-format="dd-MM-yyyy">
					<input type="text" th:field="*{bean.serviceStartTime}" class="form-control" />
					<div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
				</div>
			</div>
			<div class="form-group">
				<label for="serviceStopTime" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.servicestoptime}">serviceStopTime :</label>
				<div style="padding-left: 3px" class="col-md-4 input-group date" data-provide="datepicker" data-date-today-highlight="true" data-date-format="dd-MM-yyyy">
					<input type="text" th:field="*{bean.serviceStopTime}" class="form-control" />
					<div class="input-group-addon"><span class="glyphicon glyphicon-th"></span></div>
				</div>
			</div>
			<div class="form-group">
				<label for="logicalUuid" class="control-label col-md-3" style="padding-right: 1px; padding-top: 2px" th:text="#{setup.documententry.label.uploaddocument}">Upload document:</label>
				<div class="col-md-6" style="padding-left: 3px">
					<div class="btn btn-primary">
						<input type="file" class="form-control-file" id="uploadId">
						<input type="hidden" th:field="*{bean.fileName}" id="fileNameId">
						
					</div>
				</div>
			</div>
		</div>
		<script src="/page/fileupload/fileupload.js"></script>
	</div>
	</div>
</section>